@model int
<div class="container">
    <div class="col-12 pt-4 text-center">
        <h1 class="text-primary text-center">Đơn đặt hàng gửi thành công</h1><br />
        <img src="~/Assets/img/lotsoheart.png" width="20%" />
    </div>
    <div class="col-12 pb-4 text-center" style="color:maroon">
        <br />
        Cảm ơn bạn đã đặt hàng! <br />
        Chúng tôi đã nhận được đơn đặt hàng của bạn và sẽ liên hệ trong thời gian sớm nhất!
        <br />
        Mã đơn hàng của bạn : @Model
    </div>
</div>