@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Xác nhận thay đổi email";
}

<h1 class="p-5 text-center">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />