@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác thực email";
}

<div class="container">
    <div class="col-12 pt-4 text-center">
        <h1 class="text-primary text-center">Xác thực tài khoản thành công</h1><br />
        <img src="~/Assets/img/lotsoheart.png" width="20%" />
    </div>
    <div class="col-12 pb-4 text-center" style="color:maroon">
        <br />
        Cảm ơn bạn đã đăng ký tài khoản! <br />
        Chúc bạn có trải nghiệm mua sắm vui vẻ!
        
    </div>
</div>