@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Quên mật khẩu";
}

<div class="pt-5"></div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4 pt-5 ps-0">
			<img src="~/Assets/img/pwdforgot.png"/>
		</div>
		<div class="col-md-4 col-md-offset-4 py-5 px-4 rounded border border-primary bg-light">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<h4><i class="fa fa-lock fa-4x"></i></h4>
						<h2 class="text-center">Bạn quên mật khẩu?</h2>
						<p>Hãy nhập địa chỉ Email để lấy lại mật khẩu.</p>
						<div class="panel-body">

							<form autocomplete="off" method="post">
								<div asp-validation-summary="All" class="text-danger"></div>
								<div class="form-group">
									<div class="">
										<input asp-for="Input.Email" class="form-control" placeholder="Địa chỉ Email"/>
										<span asp-validation-for="Input.Email" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group pt-4">
									<button type="submit" class="btn btn-primary">Xác nhận</button>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@* <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Xác nhận</button>
        </form>
    </div>
</div> *@

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
