@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}

<div class="container pt-5">
    <h3 class="text-center">
        Đặt lại mật khẩu thành công!
    </h3>
    <p class="text-center h5">Vui lòng <a asp-page="./Login">Đăng nhập tại đây</a>.</p>
    <div class="text-center">
        <img src="~/Assets/img/ok.png" />
    </div>
</div>

