
@{
    ViewData["Title"] = "Thương hiệu";
    Layout = "_Layout.cshtml";
    ViewData["ActivePage"] = ManageNavPages.Brand;
}

<br />
<div class="row">
    <div class="col-10">
        <h2 class="text-primary">Danh sách thương hiệu</h2>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Tạo Mới</a>
    </div>
</div>
<br />
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-info">
                    <tr>
                        <th>Tên thương hiệu</th>
                        <th>Mô tả</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/brand.js"></script>
}