@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Xóa vai trò";
    Layout = "_Layout.cshtml";
}

<h5>Bạn có chắc muốn xóa vai trò này trong hệ thống?</h5>
<div>
    <h4>Vai trò</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Xóa</button>
        </div>
    </form>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}