@model ToyStoreMVC.Areas.Admin.Controllers.RoleController.InputModel

@{
    ViewData["Title"] = "Sửa vai trò";
    Layout = "_Layout.cshtml";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}