<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle pe-4" data-bs-toggle="dropdown">Thú bông</a>
    <div class="dropdown-menu m-0 bg-secondary rounded-0">
        @foreach (var item in Model)
        {
            <a class="dropdown-item" asp-area="Customer" asp-controller="Category" asp-action="index" asp-route-categoryId="@item.Id" >@item.Name</a>
        }

    </div>
</li>